{% extends 'base.html.twig' %}
{% block title %}
    Accueil | {{ parent() }}
{% endblock %}
 {% block body %}
     <h3 style="color:black;">Filter les sorties</h3>
     <form action="{{ path('recherche_sortie') }}" method ="post">
         <table>
             <tr>
                 <td>
                     <table>
                         <tr>
                             <td style="white-space: normal; width:100px; color:black;">
                                 Campus
                             </td>
                             <td style="white-space: normal; width:100px;">
                                 <select class="form-control" id="supervisor" name="campus">
                                     {% for campus  in campusList %}
                                         {% set selected = '' %}
                                         <option value="{{ campus.nom }}" {{ selected }}>{{ campus.nom  }}</option>
                                     {% endfor %}
                                 </select>
                             </td>
                         </tr>
                         <tr>
                             <td style="color:black;">
                                 Le nom de la sortie contient:
                             </td>
                             <td>
                                 <input type="text" class="form-control" placeholder="nom" name="outName">
                             </td>
                         </tr>
                         <tr>
                             <td style="color:black;">Entre</td>
                             <td><input type="date" placeholder="Select Date" name="startDate"></td>
                             <td style="white-space: normal; width:30px;color:black;">et</td>
                             <td><input type="date" placeholder="Select Date" name="endDate"></td>
                         </tr>
                     </table>
                 </td>

                 <td style="color:black;">
                     <input type="checkbox" id="check1" name="check1" checked>
                     <label for="check1">Sorties dont je suis l'organisateur/trice</label>
                 <br>
                     <input type="checkbox" id="check2" name="check2" checked>
                     <label for="check2">Sorties auxquelles je suis inscrit/e</label>
                 <br>
                     <input type="checkbox" id="check3" name="check3" checked>
                     <label for="check3">Sorties auxquelles je ne suis pas inscrit/e</label>
                 <br>
                     <input type="checkbox" id="check4" name="check4" >
                     <label for="check4">Sorties passées </label>
                 </td>
                 <td></td>
                 <td></td>

                 <td>
                     <button class="button" type="submit">Rechercher</button>
                 </td>
             </tr>
         </table>
     </form>
     <div>
         <a href="{{ path('sortie_creer') }}"><button class="button"><a href="../public/profil"> Créer une Sortie</button></a>
     </div>
     {% if data is defined and not null %}
         <table style="border: 1px">
             <tr>
                 <th>Nom de la sortie</th>
                 <th>Date de la sortie</th>
                 <th>Clôture</th>
                 <th>inscrits/places</th>
                 <th>Etat</th>
                 <th>Inscrit</th>
                 <th>Organisateur</th>
                 <th>Action</th>
             </tr>
             {% for out in data  %}
                 <tr>
                     <td>{{ out.nom  }}</td>
                     <td>{{ out.dateHeureDebut|date('d/m/Y') }}</td>
                     <td> {{ out.dateLimiteInscription|date('d/m/Y h:m' ) }}</td>
                     <td> {{ 'number' }} / {{ out.nbInscriptionsMax }}</td>
                     <td>{{ out.etat }}</td>
                     <td>{{ 'user' }}</td>
                     {% if out.etat is same as('en coure') %}
                        <td><a href="#">Afficher</a></td>
                     {% elseif out.etat is same as('Ouvert') %}
                         <td><a href="{{ path('annuler', {id: out.id})}}">Annuler</a></td>
                     {% elseif  out.etat is same as('En creation')%}
                         <td><a href="#">Modifier</a></td>
                     {% endif %}
                 </tr>
             {% endfor %}
         </table>

     {% endif %}

 {% endblock %}

