{% extends 'base.html.twig' %}

{% block title %}
    Créer une sortie | {{ parent() }}
{% endblock  %}

{% block body %}
    <h1 class="titreform">Créer une Sortie</h1>

    {{ form_start(sortieForm)}}
    {{ form_widget(sortieForm) }}

        <div class="boutonform">
            <a href="{{ path('recherche_sortie') }}"><button class="button">Enregistrer</button></a>
            <a href="{{ path('recherche_sortie') }}"><button class="button">Publier la sortie</button></a>

        </div>

    {{ form_end(sortieForm) }}

    <a href="{{ path('recherche_sortie') }}"><button class="button">Annuler</button></a>
{% endblock  %}
