{% extends 'base.html.twig' %}

{% block title %}
    Créer une sortie | {{ parent() }}
{% endblock  %}

{% block body %}
    <h1 class="titreform">Créer une Sortie</h1>

    {{ form_start(sortieForm)}}
    {{ form_widget(sortieForm) }}

        <div class="boutonform">
            <a href="../public/accueil" class="button"><button type="submit">Enregistrer</button></a>
            <a href="{{ path('accueil_sortie') }}"><button class="button">Publier la sortie</button></a>
            <a href="{{ path('accueil_sortie') }}"><button class="button">Annuler</button></a>
        </div>

    {{ form_end(sortieForm) }}


{% endblock  %}
