{% extends 'base.html.twig' %}

{% block title %}

{% endblock  %}

{% block body %}
    <h1 class="titreform">Créer une Sortie</h1>

    {{ form_start(sortieForm)}}
    {{ form_widget(sortieForm) }}
        <div class="boutonform">
            <a href="{{ path('accueil_sortie') }}"><button class="button" type="submit">Enregistrer</button></a>
            <a href="{{ path('accueil_sortie') }}"><button class="button">Publier la sortie</button></a>
            <a href="{{ path('accueil_sortie') }}"><button class="button">Annuler</button></a>
        </div>
    {{ form_end(sortieForm) }}


{% endblock  %}
