{% extends '/base.html.twig' %}

{% block title %}
    Profil de l'utilisateur | {{ parent() }}
{% endblock %}


{% block body %}


    <div class="profil_cercle">

        <img class="avatar" src="{{ asset("img/avatar/" ~ profil.maPhoto) }}" alt="avatar">

    </div>

    {{ form_start(profilForm) }}



    <div>

            {{  form_widget(profilForm) }}

                <div class="boutonform">
                    <button class="button"><a href="../public/profil">Enregistrer</a></button>

                </div>

        {{ form_end(profilForm) }}
    </div>

    <div class="annuler">
    <button class="button"><a href="../public/rechercher">Annuler</a></button>
    </div>

{% endblock %}

