{% extends '/base.html.twig' %}

{% block title %}
    Profil de l'utilisateur | {{ parent() }}
{% endblock %}


{% block body %}


    <div class="profil_cercle">

        <img src="{{ asset('public\img\avatar' ~ avatarPix)  }}" alt="avatar">

    </div>

    {{ form_start(profilForm) }}



    <div>

            {{  form_widget(profilForm) }}

                <div class="boutonform">
                    <button class="button"><!--<a href="../public/accueil">Enregistrer</a>-->Enregistrer</button>
                    <button class="button"><a href="../public/profil">Annuler</a></button>
                </div>

        {{ form_end(profilForm) }}
    </div>



{% endblock %}

